<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hi <%= @user.name %></h1>
  <p>
    Has realizado un match. Le hemos dado tu correo al otro usuario para que se ponga en contacto contigo :D
  </p>
</body>
</html>
