<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- <p id="notice"><%= notice %></p> -->
<div class="icon-bar">
  <a class="active" href="#"><img class='logo'></a>
  <a href="#"><img class='nintendo'></a>
  <a href="#"><img class='playstation'></a>
  <a href="#"><img class='windows'></a>
  <a href="#"><img class='xbox'></a>
</div>


<div class="columns">

    <% User.find(session[:user_id]).games.each do |game| %>

        <figure>
            <img src='https://media.playstation.com/is/image/SCEA/the-last-of-us-remastered-two-column-01-ps4-us-28jul14?$TwoColumn_Image$'>
            <figcaption>
                <%= game.name %>
            </figcaption>
            <figcaption>
                <button class="button button1"><i class="fa fa-thumbs-up"></i></button>
                <button class="button button2"><i class="fa fa-thumbs-down"></i></button>
            </figcaption>
        </figure>

    <% end %>
</div>


<br>

<%= link_to 'New Game', new_game_path %>
